* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("images/tech-background.png");
    background-size: cover;
    background-attachment: fixed;
    color: #222;
    line-height: 1.6;
}

nav {
    background-color: #0f172a;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #94a3b8;
}

header {
    background-image:url("images/header-bg.png");
    background-size: cover;
    background-position: center;

    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

header p {
    font-size: 20px;
}

section {
    background-color: rgba(245, 248, 255, 0.863);
    width: 80%;
    margin: 40px auto;
    padding: 35px;
    border-radius: 18px;
    box-shadow:
    0 15px 35px rgba(0, 0, 0, 0.15),
    0 0 15px rgba(59, 130, 246, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.486), 0 0 18px rgba(59, 131, 246, 0.699);
    border: 1px solid rgba(59, 130, 246, 0.55);
}

h2 {
    color: #1e293b;
    margin-bottom: 20px;
}

ul {
    margin-left: 20px;
}

footer {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.profilbild {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid white;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 32px;
    }

    section {
        width: 95%;
        padding: 20px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
    
}

.button-container {
    text-align: center;
    margin: 20px;
}

button {
    background-color: #1e293b;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #334155;
}

.darkmode {
    background-image: linear-gradient(rgba(15, 23, 42, 0.92),
     rgba(15, 23, 42, 0.92)),
     url("images/tech-background.png");
    background-size: cover;
    background-attachment: fixed;
}

.darkmode section {
    background-color: rgba(30, 41, 59, 0.95);
    color: white;
}

.darkmode h2 {
    color: #93c5fd;
}

a {
    color: #2563eb;
}

.darkmode a {
    color: #93c5fd;
}

.darkmode a:hover {
    color: #bfdbfe;
}

section h3 {
    margin-top: 25px;
}

section p {
    margin-bottom: 10px;
}

section li {
    margin-bottom: 8px;
}

#beruf p {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

#ausbildung li {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
